$buttonText: #fff !default;
$buttonBG: #93A6B8 !default;
$actionButtonText: #fff !default;
$actionButtonBG: #459FF5 !default;
$warningButtonText: #fff !default;
$warningButtonBG: #FD6686 !default;
$buttonSelector: '.button' !default;

@mixin sakura-components-buttons($class: $buttonSelector) {
  #{$class}, button { @extend %button; }
  #{$class}-primary { @extend %button-primary; }
  #{$class}-warning { @extend %button-warning; }
  #{$class}-disabled { @extend %button-disabled; }
}

%button {
  border: none;
  height: 2rem;
  outline: none;
  cursor: pointer;
  padding: 0 15px;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 2rem;
  border-radius: 3px;
  color: $buttonText;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  background-color: $buttonBG;
  box-shadow: 0 1px 3px rgba(#000, 0.1);

  &:hover {
    text-decoration: none;
    background: darken($buttonBG, 5);
  }
}

%button-primary {
  @extend %button;
  color: $actionButtonText;
  background-color: $actionButtonBG;
  &:hover { background-color: darken($actionButtonBG, 5); }
}

%button-warning {
  @extend %button;
  color: $warningButtonText;
  background-color: $warningButtonBG;
  &:hover { background-color: darken($warningButtonBG, 5); }
}

%button-disabled {
  @extend %button;
  color: #fff;
  box-shadow: none;
  cursor: not-allowed;
  background-color: #D6DDE4;
  &:hover { background-color: darken(#D6DDE4, 5); }
}
