@import 'mixins/prefix';
@import 'mixins/position';
@import 'mixins/triangle';
@import 'mixins/clearfix';
@import 'mixins/transform';
@import 'mixins/keyframes';

@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

@mixin visible {
  opacity: 1;
  visibility: visible;
}

@mixin placeholder-text-color($color) {
  ::-webkit-input-placeholder { color: $color; }
  :-moz-placeholder { color: $color; }
  ::-moz-placeholder { color: $color; }
  :-ms-input-placeholder { color: $color; }
}

@mixin animation($values) {
  @include prefix(animation, $values);
}
