@import '../utilities/mixins';

@mixin sakura-animations-slides {
  @include sakura-animations-slide-in-up;
  @include sakura-animations-slide-in-down;
  @include sakura-animations-slide-in-left;
  @include sakura-animations-slide-in-right;
  @include sakura-animations-slide-out-up;
  @include sakura-animations-slide-out-down;
  @include sakura-animations-slide-out-left;
  @include sakura-animations-slide-out-right;
  @include sakura-animations-slide-in-and-out-up;
  @include sakura-animations-slide-in-and-out-down;
  @include sakura-animations-slide-in-and-out-left;
  @include sakura-animations-slide-in-and-out-right;
}

@mixin sakura-animations-slide-in-up($offset: 200px) {
  @include keyframes('slideInUp') {
    0% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(0, #{$offset}, 0));
    }

    100% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }
  }
}

@mixin sakura-animations-slide-in-down($offset: 200px) {
  @include keyframes('slideInDown') {
    0% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(0, -#{$offset}, 0));
    }

    100% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }
  }
}

@mixin sakura-animations-slide-in-right($offset: 200px) {
  @include keyframes('slideInRight') {
    0% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(-#{$offset}, 0, 0));
    }

    100% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }
  }
}

@mixin sakura-animations-slide-in-left($offset: 200px) {
  @include keyframes('slideInLeft') {
    0% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(#{$offset}, 0, 0));
    }

    100% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }
  }
}

// slide outs
@mixin sakura-animations-slide-out-up($offset: 200px) {
  @include keyframes('slideOutUp') {
    0% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    100% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(0, -#{$offset}, 0));
    }
  }
}

@mixin sakura-animations-slide-out-down($offset: 200px) {
  @include keyframes('slideOutDown') {
    0% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    100% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(0, #{$offset}, 0));
    }
  }
}

@mixin sakura-animations-slide-out-left($offset: 200px) {
  @include keyframes('slideOutLeft') {
    0% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    100% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(-#{$offset}, 0, 0));
    }
  }
}

@mixin sakura-animations-slide-out-right($offset: 200px) {
  @include keyframes('slideOutRight') {
    0% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    100% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(#{$offset}, 0, 0));
    }
  }
}

@mixin sakura-animations-slide-in-and-out-up($offset: 200px) {
  @include keyframes('slideInAndOutUp') {
    0% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(0, #{$offset}, 0));
    }

    25% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    75% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    100% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(0, -#{$offset}, 0));
    }
  }
}

@mixin sakura-animations-slide-in-and-out-down($offset: 200px) {
  @include keyframes('slideInAndOutDown') {
    0% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(0, -#{$offset}, 0));
    }

    25% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    75% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    100% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(0, #{$offset}, 0));
    }
  }
}

@mixin sakura-animations-slide-in-and-out-left($offset: 200px) {
  @include keyframes('slideInAndOutLeft') {
    0% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(#{$offset}, 0, 0));
    }

    25% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    75% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    100% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(-#{$offset}, 0, 0));
    }
  }
}

@mixin sakura-animations-slide-in-and-out-right($offset: 200px) {
  @include keyframes('slideInAndOutRight') {
    0% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(-#{$offset}, 0, 0));
    }

    25% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    75% {
      opacity: 1;
      visibility: visible;
      @include transform(translate3d(0, 0, 0));
    }

    100% {
      opacity: 0;
      visibility: hidden;
      @include transform(translate3d(#{$offset}, 0, 0));
    }
  }
}

